html,body{
  color: white;
  text-align: center;
  background-size: cover;
  background-image: url("../images/result_bg.jpg");
  background-repeat: no-repeat;
}


.middle{
  background-color: rgba(7, 70, 100, 0.8);
  margin: 5% 3% 5% 3%;
  color: white;
  padding: 3%;
  border-width: 5px;
  border-style: solid;
  border-color: white;
}

@media(max-width: 760px){
  .middle{
    padding: 7%;
    text-align: left;
  }

  form{
    text-align: center;
  }
}
